/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #181818;
    color: #fff;
    height: 100vh;
    justify-content: center;
    font-size: 18px;
}

header {
    text-align: left; /* Zarovnání vlevo */
    width: 100%;
    margin-left: 10px; /* Malý okraj zleva */
}

h1 {
    color: #39FF14;
    font-size: 2rem;
    margin-top: 10px;
}

.logo pre {
    font-size: 1.5rem;
    color: #39FF14;
    margin: 0;
}

main {
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 12px;
}

input {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: #282828;
    color: #39FF14;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    display: block;
    margin-left: 0; /* Zarovnání vlevo */
}

button {
    background-color: #39FF14;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #32b400;
}

ul.file-list {
    list-style-type: none;
    padding: 0;
}

ul.file-list li {
    margin-bottom: 10px;
}

ul.file-list a {
    color: #39FF14;
    text-decoration: none;
    font-size: 16px;
}

ul.file-list a:hover {
    text-decoration: underline;
}

footer p {
    color: #666;
}
